@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollBarHide::-webkit-scrollbar {
    display: none !important;
}
html{
    background-color: #1b2223;
    color: #fff;
}
.cl-internal-b3fm6y{
    display: none !important;
}
.cl-card {
    width: 100% !important;
    justify-self: auto !important;
    align-self: auto !important;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1024px) {
    .cl-card {
        width: 28rem !important;
    }
}@media (min-width: 1024px) {
    .cl-card {
        width: 100% !important;
    }
}
.StripeElement--complete,
.StripeElement--empty,
.StripeElement--focus,
.StripeElement--invalid,
.StripeElement--webkit-autofill{
    color: white !important;
}